</div>

<!--BEGIN FOOTER-->
<div id="footer" class="fixed">
    <div class="copyright">2021 © Huynh Ngoc Canh Toan</div>
</div>
<!--END FOOTER-->
<!--END PAGE WRAPPER-->
</div>
</div>
<div class="image-view"></div>
<div class="image-box">
    <div id="prev-btn"></div>
    <div id="next-btn"></div>
</div>
<!--Begin Modal Xac Nhan Xoa Video -->
<div class="modal fade" id="comFirmDeleteVideo" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ARE YOU SURE <strong
                        style="color: brown;font: bold;font-size: large;">DELETE</strong> THIS</h5>
            </div>
        </div>
        <div class="modal-body">
            <a style="cursor:pointer;background-color:whitesmoke;padding: 10px;" class="video-delete-yes">YES</a>
            <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<!--END Modal Xac Nhan Xoa Video -->
<!--Begin Modal Rep Comment -->
<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reply</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form onsubmit="return doPostReply(this);">
                    <input type="hidden" name="postId">
                    <input type="hidden" name="commentId">
                    <textarea name="reply" placeholder="Post your reply"></textarea>
                    <button type="submit">Post</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--END Modal Rep Comment -->
<!--Begin Modal Show Chi tiet Anh -->
<div>
    <div class="modal fade" id="Modal-" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol> -->

                        <!-- Wrapper for slides -->
                        <div id="listhinh" class="carousel-inner">
                            <div class="item active">
                                <img src="https://media.macphun.com/img/uploads/customer/how-to/579/15531840725c93b5489d84e9.43781620.jpg"
                                    alt="Los Angeles" style="width:100%;max-height:400px;">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<!--END Modal Show Chi tiet Anh -->
<!--Begin Modal Xac Nhan Xoa Anh -->
<div class="modal fade" id="comFirmDeleteImgs" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ARE YOU SURE <strong
                        style="color: brown;font: bold;font-size: large;">DELETE</strong> THIS</h5>
            </div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-danger btn-delete-yes">YES</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<!--END Modal Xac Nhan Xoa Anh -->
<!--Begin Modal Xac Nhan Xoa Anh (Edit) -->
<div class="modal fade" id="comFirmDeleteImgs_Edit" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ARE YOU SURE <strong
                        style="color: brown;font: bold;font-size: large;">DELETE</strong> THIS</h5>
            </div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-danger edit-delete-yes">YES</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<!--END Modal Xac Nhan Xoa Anh (Edit) -->
<!--Begin Modal Xac Nhan Xoa bai POST -->
<div class="modal fade" id="modalXoaPost" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ARE YOU SURE <strong
                        style="color: brown;font: bold;font-size: large;">DELETE</strong> THIS</h5>
            </div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-danger xoaPost-yes">YES</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<!--END Modal Xac Nhan Xoa bai POST -->
<!--Begin Modal Xac Nhan EDIT -->
<div class="modal fade" id="editConfirm" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                ... Are you want <strong style="color: brown;font: bold;font-size: large;"></strong> this
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger btn-yes">YES</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--END Modal Xac Nhan EDIT -->
</body>

</html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="/js/myjs/footerejs.js"></script>
<script type="text/javascript">
    var isHomePage = true;
    var linkpt = "<%= user.picture %>"
    if (isHomePage === true) {
        showAddPost();
        if (userEmail == userID) {
            showNewsfeed1();
        } else {
            showNewsfeed2();
        }
        YesDeleteImages_POST();
    };
 

    socket.on("id_post", (noti) => {
        var html = `<div id="willDelete" class="caption text-uppercase thong-bao-khan">
                                            <img class="req-img" src="/images/star.png">
                                            &nbsp;&nbsp;Thông báo từ `+ noti.userName + ` : 
                                            <a style="cursor:pointer" id="listThongBao"></a>
                                        </div>`;
        $('#thongbaotukhoa').append(html);
        $('#listThongBao').html(noti.briefText)
        $('#listThongBao').attr("href", "/notifications/detail/" + noti._id)
        setTimeout(function () {
            $("#willDelete").remove();
        }, 30000);
    })
    window.addEventListener('scroll', () => {
        const { scrollTop, scrollHeight, clientHeight } = document.documentElement;
        if (clientHeight + scrollTop >= scrollHeight - 5) {
            // loading.classList.add('show');
            // setTimeout(greet, 2000);
            // YesDeleteImages_POST();
        }
    });
    const greet = function () {
        showNewsfeed1();
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    };
</script>