<aside class="sidebar static">
	<div class="widget">
		<h4 class="widget-title"></h4>
		<ul class="naves">
			<li>
				<a href="/home">Trang chủ <span class="badge" id="notifications-badge"></span></a>
			</li>
		</ul>
	</div>
</aside>