<html>
<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    
    
</head>
<body>
    <div class="page-container">
        <div class="login-form">
            
                <p class="login-form__title">Welcome</p> 
                <p>Sign in to Continue</p>
                <form method="post" action="/login"  class="form1">
                    <input name="username"  type="text" align="center" placeholder="Username">
                    <input name="password"  type="password" align="center" placeholder="Password">
                    <button type="submit">Login</button>
                    <p class="forgot" align="center"><a href="#">Forgot Password?</p>
                </form>
                <a href="/login/auth/google" class="login-form__btn"><span class="fa fa-google"></span> Sign In with Google</a>
            
        </div>
    </div>
</body>
</html> 